<!DOCTYPE html>
<html>
<head>
  <title>ProjectGschool</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "welcome" if controller_name == "welcome" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>


<%= yield %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
